@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.containerScale {
    transition: 0.2s; /* Sin comillas y con punto y coma */
}

.containerScale:hover {
    transform: scale(1.05); /* Selector de pseudo-clase :hover fuera de la definición de la clase */
}